<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login whit validation feedback-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">WhishList</h3>
        </div>
        <div class="card-body">
          <!-- se reemplaza por el formulario en form-destino-viaje
            <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
            </div>
            <div class="form-group">
              <label for="Imagen Url">Imagen URL</label>
              <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar Url..." #url>
            </div>
            <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar</button>
          </form> -->
          <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row row-flex">
    <!-- <app-destino-viaje *ngFor="let d of destinos; let i = index" [destino]="d" [position]="i + 1"
      (clicked)="elegido($event)"></app-destino-viaje> -->
      <!-- <app-destino-viaje
        *ngFor="let des of destinosApiClient.getAll(); let i = index"
        [destino]="des"
        [indx]= "i + 1"
        (onClicked)='elegido(des)'
      ></app-destino-viaje> -->
      <!-- Reemplazamos destinosApiclient.getAll por getAll()-->
      <app-destino-viaje
        *ngFor="let des of all; let i = index"
        [destino]="des"
        [indx]= "i + 1"
        (onClicked)='elegido(des)'
        appEspiame
      ></app-destino-viaje> <!-- agregamos la directiva Espiame, por cada instancia del for hay una instancia de la directiva-->
  </div>

  <!-- Para mostrar el evento al cual no suscribimos con destinoApiClient.suscribeCurrentOnChange(d: DestinoViajeModel)-->
  <hr class="mb-5">
  <div class="row row-flex">
    <h5>Actividad de la Suscripcion</h5>
    <ul>
      <li *ngFor="let update of updates">{{update}}</li>
    </ul>
  </div>
</div>
