<p>Vuelos init template of flays</p>
<div class="navLinks">
  <a [routerLink]="['./main']">Main</a>
  <a [routerLink]="['./mas-info']">Mas Info</a>
  <a [routerLink]="['./', 5]">Vuelos</a>
</div>

<router-outlet></router-outlet>