<!-- <div class="card-content"> -->
<!-- Agregando la seleccion de favorito -->
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <!-- <img src="https://placeimg.com/380/230/nature" alt=""> -->
    <img src="../../assets/nature.jpeg" alt="">
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <!-- <li *ngFor = "let servicio of destino.servicios">{{servicio}}</li> -->
      <li *ngFor = 'let servicio of destino.servicios'>
        <span [ngSwitch]='servicio'>
          <i *ngSwitchCase="'Desayuno'" style="color: red">{{servicio}}</i> <!-- existe desayuno -> color rojo-->
          <i *ngSwitchDefault style="color: gray">{{servicio}}</i>
        </span>
      </li>
    </ul>

    <div>
      <!-- Agregando directiva trackear-click en el enlace, crea el objeto trackear-click-directive.ts
      y le pasa el tags <a> al constructor, una vez creada la directiva, se queda escuchando algun click
      sobre el enlace -->
      <a href="#" (click)="voteUp()" 
      appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"
        >
        <i class="material-icons md-18">thumb_up</i>
      </a>
      <!-- aplicando directiva trackear-click-->
      <a href="#" (click)="voteDown()"
        appTrackearClick data-trackear-tags="destino_vote-down lista_destinos_item"
      >
        <i class="material-icons md-18">thumb_down</i>
      </a>
      {{destino.votes}}
    </div>

    <!-- aplicando directiva trackear-click -->
    <a href="#" class="btn-card" (click)="ir()" 
      appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item"
    >Ir</a>
    <!-- <span [style.display]="destino.isSelected() ? '' : 'none'">PREFERIDO</span> -->
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>PREFERIDO</span>
    </span>
    <a [routerLink]="['/destino/' + 1]">Ver Detalle</a>
   </div>
</div>
