<form 
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)"
  >
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre..." 
    [formControl] = "fg.controls['nombre']"> <!-- el #nombre se reemplaza por [formControl]="fg.controls['nombre']"-->
    <ul>
      <li *ngFor="let sr of searchResult;">{{sr}}</li>
    </ul>
    <div *ngIf="fg.controls['nombre'].hasError('required')" class="text-danger">El nombre es requerido.</div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="text-danger">El nombre no es valido.</div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="text-danger">Nombre debe tener al menos {{minLongitudNombre}}.</div>
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <input type="text" class="form-control" id="url" placeholder="Ingrese url..." 
    [formControl] = "fg.controls['url']">
    <!-- otra forma de usar un validador de campo es preguntar si tiene el error con hasError -->
    <span *ngIf="!fg.controls['url'].valid" class="text text-danger">Este campo es requerido.</span>
  </div>
  <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
  <div>    
    <button [disabled]="!fg.controls['nombre'].valid" type="submit" class="btn btn-primary">Guardar</button>
    <!--
    <button type="submit" class="btn btn-primay" *ngIf="fg.valid">Guardar</button>
    <button *ngIf="!fg.controls['nombre'].valid" type="reset" class="btn btn-secondary">Guardar</button>
    <button *ngIf="fg.controls['nombre'].valid" type="submit" class="btn btn-primary">Guardar</button> -->
  </div>
  
</form>
