<div class="container">
  <!-- agregando selector de idioma-->
  <div style= "float: right;">
    <!-- change es un callback de angular -->
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a> 
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <h1>
      {{title}}
    </h1> -->
    <!-- -->
    <h1> <!-- InnerHTML es una directiva de angular-->
      {{title}} <!-- <b [InnerHTML]= "'HOLA' | translate"></b> --> <!-- NO FUNCA-->
    </h1>
  </div>
  <div class="row">
    <!-- <app-lista-destino></app-lista-destino>  aplicando RoutingModule-->
    <router-outlet></router-outlet>
    <!-- 
      
        <app-lista-destino>
          <app-form-destino-viaje>
          <app-destino-viaje></app-destino-viaje>
        </app-lista-destino> -->
  </div>
</div>

<hr class="md-5">
Fecha: {{time | async }}