<p>reservas-listado works!</p>
<!-- ./ ruta relativa al modulo-->
<a [routerLink]="['./', 10]">Ir a Detalle</a>
<!-- / ruta provista por el router-outlet, fuera de este modulo-->
<a [routerLink]="['/login']">Ir a Login</a>

<div *ngFor="let reservaApi of api.getAll()">
  {{reservaApi.id}} - {{reservaApi.name}}
</div>
